.button-bar {
	background-color: $light-bg;
	border-radius: 7px 7px 7px 7px;
	padding: 5px 10px 5px 10px;
}

.custom-button {
	.btn{
		width: 100px;
		padding: 5px;
	}
}

@media (min-width: 0px) and (max-width: $screen-xs-max) {
	.custom-button {
		.btn{
			width: 75px;
			padding: 0px;
			span {
				display: none;
			}
		 }
	}
}

