.card {
	  background-color: $card-bg;
	  border-radius: 7px 7px 7px 7px;
	  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  	  transition: 0.3s;
	  padding: 5px 15px 5px 15px;
}

@media (min-width: $screen-md-min) {
	.card {
		height: 220px;
	}
}
