//Bonita variables
@import "bonita_variables";

// Bootstrap
@import "bootstrap";

@import "bonita_buttons";
@import "bonita_pager";

.info-link {
	.btn-link {
	    color: $state-info-text;
	}
}

.background-light {
	background-color: $background-light;
} 

/* Override some properties of the Timeline widget, to match with the theme color */

.timeline > li > .timeline-panel {
	background-color: $background-light;
}

.timeline > li > .timeline-panel:after {
	border-left: 14px solid $background-light;
    border-right: 0 solid $background-light;
}