//Bonita variables
@import "bonita_variables";

//Custom colors
$card-bg: #fafafa !default;
$light-bg: #f9f9f9 !default;
$timeline-border-color: #e6e6e6 !default;

// Bootstrap
@import "bootstrap";

@import "bonita_buttons";
@import "bonita_pager";
@import "timeline";
@import "card";
@import "layout";

.info-link {
	.btn-link {
	    color: $state-info-text;
	}
}

.light-bg {
	background-color: $light-bg;
	border-radius: 7px 7px 7px 7px;
	padding: 5px 35px 5px 35px;
	margin-top: 20px;
}

.button-bar {
	background-color: $light-bg;
	border-radius: 7px 7px 7px 7px;
	padding: 5px 10px 5px 10px;
}


